/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
/vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
/.vagrant
.phpunit.result.cache

/public/.htaccess
/public/.htpasswd
/.vagrant
.DS_Store
.env*
!.env.example
.phpunit.result.cache
.htpasswd
.htaccess
.htaccess.save
_err_out.txt
_readme.txt

/public/.htaccess
composer.lock
/files
*.log
*.pdf
*.jpg
*.JPG
*.png
*.gif
*.jpeg
*.bmp
*.tmp
/node_modules
**/sitemap.xml
